@model IEnumerable<helperland_1.Models.UserAddress>

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = null;
}



<div id="myAddressesTable">
    <table class="table tablee1 tb1">
        <thead>
            <tr>
                <th scope="col">Addresses</th>
                <th scope="col" width="100">Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                <td>
                    <p class="mb-1"><b>Address:</b><span>@item.AddressLine2</span>,<span>@item.AddressLine1</span>  </p>
                    <p class="mb-1"><b>Phone Number:</b>@item.Mobile</p>
                </td>
                <td>
                    <a data-toggle="modal" id="editaddress" data-target="#editAddressModal" role="button" data-id="@item.AddressId">
                        <i class='fas fa-edit' style='font-size:24px'></i>
                    </a>
                    <a data-toggle="modal" role="button" data-target="#deleteAdressModal" class="abc" data-id="@item.AddressId">
                       
                        <i class='fas fa-trash-alt' style='font-size:24px'></i>
                    </a>

                </td>
            </tr>
            }
        </tbody>
    </table>
    <a href="#addNewAddressModal" data-toggle="modal" role="button" class="reschedule-btn rounded-pill text-light text-decoration-none px-2">Add New address </a>
</div>
<!-- ---------------------------Add New Address PopUp Modal----------------------- -->
<div class="modal fade" id="addNewAddressModal" aria-hidden="true" aria-labelledby="addNewAddressModalLabel2" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title me-3 clrr" id="addNewAddressModalLabel2">Add New Address</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="">
                    <div class="row">
                        <div class="col-sm-6 mb-4">
                            <div class="form-group d-flex flex-column">
                                <label for="streetname">Street Name</label>
                                <input type="text" placeholder="Street Name" id="AddressLine1" class="bll ht pdd w-100">
                            </div>
                        </div>
                        <div class="col-sm-6 mb-4">
                            <div class="form-group d-flex flex-column">
                                <label for="housenumber">House number</label>
                                <input type="text" placeholder="House Number" id="AddressLine2" name="housenumber" class="bll ht pdd w-100">
                            </div>
                        </div>
                        <div class="col-sm-6 mb-4">
                            <div class="form-group d-flex flex-column">
                                <label for="postalcode">Postal Code</label>
                                <input type="text" placeholder="Postal Code"  id="PostalCode" name="postalcode" class="bll ht pdd w-100">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group d-flex flex-column">
                                <label for="city">City</label>
                                <div class="d-inline-block">
                                    <input type="text" id="City" placeholder="City" class="ht bll pdd w-100" />
                                    
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 mb-4">
                            <div class="form-group d-flex flex-column">
                                <label for="phonenumber">Phone Number</label>
                                <div class="d-flex">
                                    <input type="text" name="phonecode" class="bll ht pdd" value="+49" disabled style="max-width: 55px;">
                                    <input type="text" placeholder="Phone Number" id="Mobile" name="phonenumber" class="bll ht pdd">
                                </div>
                            </div>
                        </div>
                    </div>
                    <button type="button" id="addnewaddress" data-dismiss="modal" class="reschedule-btn rounded-pill bll text-light px-3 pdd">
                        Add
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- ------------------------Edit Address PopUp modal-------------------- -->
<div class="modal fade" id="editAddressModal" aria-hidden="true" aria-labelledby="editAddressModalLabel2" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title me-3 clrr" id="editAddressModalLabel2">Edit Address</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                @*<form action="" onsubmit="">
                    <div class="row">
                        <div class="col-sm-6 mb-4">
                            <div class="form-group d-flex flex-column">
                                <label for="streetname">Street Name</label>
                                <input type="text" placeholder="Street Name" name="streetname" class="bll ht pdd w-100">
                            </div>
                        </div>
                        <div class="col-sm-6 mb-4">
                            <div class="form-group d-flex flex-column">
                                <label for="housenumber">House number</label>
                                <input type="text" value="" placeholder="House Number" name="housenumber" class="bll ht pdd w-100">
                            </div>
                        </div>
                        <div class="col-sm-6 mb-4">
                            <div class="form-group d-flex flex-column">
                                <label for="postalcode">Postal Code</label>
                                <input type="text" value="" placeholder="Postal Code" name="postalcode" class="bll ht pdd w-100">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group d-flex flex-column">
                                <label for="city">City</label>
                                <div class="d-inline-block">
                                    <input name="city" id="" placeholder="City" class="ht bll pdd w-100">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 mb-4">
                            <div class="form-group d-flex flex-column">
                                <label for="phonenumber">Phone Number</label>
                                <div class="d-flex">
                                    <input type="text" name="phonecode" class="bll ht pdd" value="+49" disabled style="max-width: 55px;">
                                    <input type="text" placeholder="Phone Number" name="phonenumber" class="bll ht pdd" value="3423423423">
                                </div>
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="reschedule-btn rounded-pill bll text-light px-3 pdd">
                        Add
                    </button>
                </form>*@
            </div>
        </div>
    </div>
</div>
<!-- ------------------------Delete Address PopUp Modal---------------------------- -->
<div class="modal fade" id="deleteAdressModal" aria-hidden="true" aria-labelledby="deleteAdressModalLabel2" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title me-3 clrr" id="deleteAdressModalLabel2">Delete Address</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="" onsubmit="">
                    <p class="mb-3 clrr">Are You sure you want to delete this address?</p>
                    <button type="button" id="deletebtn" data-dismiss="modal" class="mt-2 reschedule-btn rounded-pill bll text-light px-3 pdd">
                        Delete
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>



